* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 568px;
  justify-content: space-around;
  position: relative;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.progress-block {
  width: 125px;
  height: 125px;
  position: relative;
}

.progress-circle {
  width: 125x;
  height: 125px;
  transform: rotate(-90deg);
}

.bg-circle,
.progress-circle-value {
  fill: none;
  stroke-width: 10;
}

.bg-circle {
  stroke: #e7e9ff;
}

.progress-circle-value {
  stroke: #2979ff;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}

.controls input[type="number"] {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls input[type="checkbox"] {
  appearance: none;
  width: 45px;
  height: 26px;
  background-color: #e7e9ff;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls input[type="checkbox"]:checked {
  background-color: #2979ff;
}

.controls input[type="checkbox"]::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.controls input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

@media (min-width: 568px) {
  .container {
    flex-direction: row;
    width: 568px;
    height: 320px;
    padding: 40px;
  }
  .controls {
    align-items: flex-start;
  }
}
